
<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <mat-label>Department Name</mat-label>
  <mat-form-field class="dept-name">
    <input matInput formControlName="deptName">
  </mat-form-field>
  <table>
    <thead>
      <th class="action">
        Action
      </th>
      <th class="id">
        ID
      </th>
      <th class="name">
        Name
      </th>
      <th class="city">
        City
      </th>
      <th class="zip">
        Zip
      </th>
    </thead>
    <tbody>
    <tr *ngFor="let obj of propDFG.controls; let i =index;" [formGroup]="obj">
      <td (click)="deleteRow(i)">
        <mat-icon class="delete-icon">
          delete</mat-icon>
      </td>
       <td>
        <!-- <mat-form-field> -->
        <input matInput formControlName="id">
      <!-- </mat-form-field> -->
      </td>
     <td>
        <input matInput formControlName="name">
      </td>
      <td>
        <input matInput formControlName="city">
      </td>
      <td>
        <input matInput formControlName="zip">
      </td> 
    </tr>
    <tr>
      <td>
        <mat-icon class="add-icon" (click)="addNewRow()">add</mat-icon>
      </td>
    </tr>
  </tbody>
  </table>
<div class="buttons-row">
  <div *ngIf="!dynamicForm.valid" class="err"> Submit will be enabled when all input field  have values</div>
<button [disabled]="!dynamicForm.valid">Submit</button>
</div>

</form>